body {
  margin-top: 3em;
  margin-left: 10em;
  margin-right: 10em;
  padding: 0;
  background-color: rgb(208, 205, 201);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.primary-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  padding: 0.5em 1em;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  margin-left: 25px;
  width: 35px;
  font-family: 'Roboto', sans-serif;
}

.primary-button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.primary-button:active {
  transform: scale(0.95);
}

.primary-button:focus {
  outline: none;
}

